<div>
  <div *ngIf="!loading">
    <div *ngIf="workouts.length === 0">
      <mat-card class="no-workouts">
        <mat-card-header>
          <mat-card-title class="title">
            You currently don't have any workouts.
          </mat-card-title>
          <mat-card-subtitle>
            To add some, login and create one or search for other people's
            workouts
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <a mat-button routerLink="/workout/create">Create Workout</a>
        </mat-card-actions>
      </mat-card>
    </div>
    <mat-accordion>
      <div *ngFor="let workout of workouts; index as i">
        <app-workout
          [workout]="workout"
          [(step)]="step"
          [i]="i"
          (subscribe)="stepChanged($event)"
        >
        </app-workout>
        <!-- <mat-expansion-panel
          [expanded]="step === i"
          (opened)="setStep(i)"
          hideToggle
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ workout.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description>
            {{ workout.description }}
          </mat-panel-description>
          <br />
          <div *ngFor="let exercise of workout.exercises">
            <app-panel-exercise [exercise]="exercise"></app-panel-exercise>
          </div>
          <mat-action-row>
            <a mat-button [routerLink]="['/workout/', workout._id]">Open</a>
            <button
              *ngIf="step !== 0"
              mat-button
              color="warn"
              (click)="prevStep()"
            >
              Previous
            </button>
            <button mat-button color="primary" (click)="nextStep()">
              Next
            </button>
          </mat-action-row>
        </mat-expansion-panel> -->
      </div>
    </mat-accordion>
  </div>
  <div *ngIf="loading" class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</div>
